<div class="row">
    <div class="col-md-8">
        <h2><%= @space[:name] %></h2>
        <p><%= @space[:address] %></p>
    </div>
    <div class="col-md-4">
        <p>Number of reviews: <%= @review_count %></p>
        <a href="/spaces/<%= @space[:id] %>/reviews/new" class="btn btn-primary">Add new review</a>
    </div>
</div>
    
<div class="row"> 
    <div class="col-md-12">
        <p><%= @space[:description] %></p>
        <p><%= @space[:pros] %></p>
        <p><%= @space[:cons] %></p>
    </div>
</div>

<div class="row"> 
<% for review in @reviews %>
    <div class="col-md-3">
    <p>User: <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></p>    
    <p>Rating: <%= review[:rating] %></p>
    </div>
    <div class="col-md-9">
        <p><%= review[:comments] %></p>
    </div>
<% end %>
</div>